<button id="start">Start a promise!</button>

<script>
    function testPromise() {

        const promise = new Promise((resolve, reject) => {
            setTimeout(() => {
                resolve()
            }, Math.random() * 2000 + 1000)
        })

        promise.then(() => {
            alert(new Date())
        }).catch((reason) => {
            alert("Reject reason:" + reason)
        })
    }

    const button = document.getElementById("start");
    button.addEventListener("click", testPromise);



</script>