@font-face {
  font-family: "iconfont"; /* Project id 4182464 */
  src: url('iconfont.woff2?t=1690365497704') format('woff2'),
       url('iconfont.woff?t=1690365497704') format('woff'),
       url('iconfont.ttf?t=1690365497704') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu1:before {
  content: "\e6a4";
}

.icon-xiugai:before {
  content: "\e623";
}

