.aboutSpan {
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 5px gray;
    animation-name: spanStart;
    animation-duration: 1.5s;
}

@keyframes spanStart {
    from {
        margin-left: 150px;
    }

    45% {
        margin-right: 100px;
    }

    to {
        margin-left: 0px;
    }
}
