.Header a {
    font-size: 20px;
    margin: 0px 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.Header {
    justify-content: center;
    height: 70px;
}

.Header a:hover {
    text-shadow: 2px 2px 5px gray;
    font-size: 25px;
}

.Header a.active {
    opacity: 50%;
    cursor: auto;
    text-shadow: none;
    font-size: 20px;
}

.Header hr {
    border-top: 3px ridge black;
}