.todoItem {
    width: 300px;
    border: 3px solid rgb(8, 8, 8);
    padding: 8px 8px;
    border-radius: 8px;
    line-height: 32px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 7px 0px;
    word-wrap: break-word;
    animation-name: todoItemStart;
    animation-duration: 1.5s;
    letter-spacing: 2px;
}

.todoItem div {
    display: inline;
    cursor: pointer;
}

.todoItem i {
    float: right;
    cursor: pointer;
    margin: 0px 5px;
    font-size: 25px;
}

.hline {
    text-decoration-line: line-through
}

.nline {
    text-decoration-line: none
}

@keyframes todoItemStart {
    from {
        opacity: 0;
    }

    20% {
        opacity: 20%;
    }

    60% {
        opacity: 60%;
    }


    to {
        opacity: 100%;
    }
}
