input {
    height: 27px;
    width: 160px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 8px;
    border: 3px solid rgb(8, 8, 8);
    margin-left: 70px;
    letter-spacing: 2px;
}

.TodoGenerator button {
    width: 60px;
    height: 34px;
    font-size: 15px;
    background-color: #007ff7;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
}